
    .signInUpComponents {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        margin: 0;
    
    }

    #signInUpButtons{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 40vw;
        height: 100vh;
        
        margin-right: 2vw;
    }

    #SignIn, #dropdown-menu-signout-button{
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        padding: 1vh;
        width:5rem;
        height:5vh;
        font-size: 0.8rem;
        font-weight: 700;
        background: transparent;
        opacity: 1;
        /* background-color: var(--header-main); */

    }
    #SignUp{
        background: none;
        text-decoration: underline;
        border: none;
        font-weight: 600;

    }



    #dropdown-menu-signout-button:hover{
        background-color: var(--header-main-hover);
        color: var(--header-main);
        border: 1px solid var(--header-main);
        cursor: pointer;
    }
    #SignIn:hover{
        cursor: pointer;
        opacity: 0.8;

    }

    @media screen and (max-width: 500px)
    {

    #SignIn img {
        height: 3.5vh;
        
    }


    }