.signInUpcontainer {
    display: flex;
    justify-content: space-between;
  height: 100vh;
    width: 100vw;
}

.signInUpComponents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
}

#signInUpButtons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 40vw;
    height: 100vh;
 
}

#SignIn{
    border-radius: 10px;
    border: none;
    padding: 1vh;
    width:8rem;
    font-size: 0.8rem;
    font-weight: 700;
    background-color:rgb(255, 255, 255) ;


}
#SignUp{
    background: none;
    text-decoration: underline;
    border: none;

}