.sign-form1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 70px;
  /* border: 1px solid #f3eddb; */
  /* border-radius: 8px; */
  border-bottom-left-radius: 10vh;
  border-bottom-right-radius: 10vh;
  margin-top: -10vh;
  background-color: #f0eccc;
 background-image: url(https://live.staticflickr.com/65535/53168674010_17f2000b2f_k.jpg); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100vw;
    
}

.signUpTitle {
  color: var(--header-main);
}
.submit-button.signup button {
  background-color: var(--header-main);
  margin: 0;
 
}
.sign-form1 form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2vh;
    border-radius:17.4rem;
 
}
/* .sign-form1 button {
  background-color: #6883a0;
  color: #fff;
  padding: 30px 60px;
  margin: 10px 0;
  border: none;
  border-radius: 60px;
  font-size: 18px;
  cursor: pointer;
} */
/* .sign-form1 button:hover {
    background-color: transparent;
    color: #2e8ef5;
    border: 4px solid #2e8ef5;
    cursor: pointer;
} */

.sign-form h1 {
    color: var( --main-blue);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#closeForm {
    position: absolute;
    top: 0;
     
    right: 0;
    margin: 1rem;
    font-size: 1.5rem;
    color: #ffffff;
    cursor: pointer;
}
#closeForm:hover {
    color: #ff6565;
    cursor: pointer;
}

.sign-in-link {
    margin-bottom: 2vh;
}


  @keyframes pop-in {
    0% {
      opacity: 0;
      transform: translateY(-4rem) scale(.8);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  



  
  @media screen and (max-width:750px) {
    input {
      width: 100%;
      height: 3rem;
      border: none;
      background-color: #ffffff;
      padding: 0 1rem;
      font-size: 1.2rem;
  }
.sign-form button {
    border-radius: 17.4rem;
    border: none; 
    padding: 2.8vh 7vw 2.9vh;
width:50vw;
    font-size: 0.9rem;
    color: #fff;
    font-weight: 700;
    background-color: var(--header-main);
}

.sign-form1 {
  background-image: url('https://live.staticflickr.com/65535/53168442224_3089032a24_k.jpg');
}
    
    }
    @media screen and (max-width:500px) {
      .submit-button.signup button {
        background-color: var(--header-main);
        margin: 0;
        width: 60vw;
      }
    }