
html,body
{

    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    
}
/* Landing Section 1 Styles */
.landing {
  height: 100vh;
 width: 100vw;
  margin: 0;
  margin-top: -10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom-left-radius: 5vh;
  border-bottom-right-radius: 5vh;
  align-items: center;
  position: relative; /* Add position relative to the parent container */
  background-image: url(https://live.staticflickr.com/65535/53096318282_6b017fa4e9_h.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 12;

}
.landingContainer {
  max-width: 100vw;
}
.landingsection2container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  width: 100vw;
height: 100vh;
margin-top: 10vh;

  z-index: 0;
}

/* .landingsection2container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 0;

  z-index: 0;
} */

/* Landing Section 2 Styles */
.landingSubOuter {
  width: 100vw;
  height: 130vh;
  margin: 0;
  margin-top: -20vh;
  background-color: var( --accent-pink);
  border-bottom-left-radius:5vh;
  border-bottom-right-radius: 5vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 7;
}

/* Landing Section 3 Styles */
.landingSubOuter2 {
  width: 100vw;
  height: 90vh;
  margin-top: -10vh;
  background-color: var(--light-blue);
  background-image: url('https://images.pexels.com/photos/825949/pexels-photo-825949.jpeg');
  background-size: cover;
  background-position: 40% center;
  background-repeat: no-repeat;
  border-bottom-left-radius: 5vh;
  border-bottom-right-radius:5vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

/* Landing Section 3 Styles */
.landingSubOuter3 {
  width: 100vw;
  height: 130vh;
  margin-top: -40vh;
  background-color: var(--background-offwhite);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -4;
}

/* Landing Section 4 Styles */
.landingSection4 {
  width: 100vw;
  height: 100vh;
  margin-top: -20vh;
  background-color: var(--main-blue);
  border-top-left-radius: 5vh;
  border-top-right-radius: 5vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.landingSubOuter4 {
  width: 100vw;
  height: 100vh;
  margin-top: 0vh;
  bottom: 0;
  border-top-left-radius: 5vh;
  border-top-right-radius: 5vh;
  background-color: var(--main-blue);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

/* Common Styles */
.landingSection,
.landingSection3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.landingSection2{
  height: 100vh;
}


.landingSubContent,
.landingSub4Info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

/* Landing Section 1 Image Styles */
.landingImage img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container */
}

/* Landing Section 2 Image Styles */
.containerImg {
border-radius:30px ;
margin: 0;
}

/* Food Types Styles */
.foodTypes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 45vh;
}

/* Food Type Container Styles */
.foodTypeContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow-x: auto;
  margin-right: 10px; /* Adjust the margin as needed */
  /* You can add more styling as needed for individual foodType divs */
}

/* Food Type Styles */
.foodType {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 700px;
  margin: 2rem;
  height: 45vh;
  border-radius: 3.4rem;
  background-color: var(--header-main);
}

/* Landing Info Styles */
.landingInfo {
  position: absolute; /* Use absolute positioning to overlay the image */
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%); /* Center the landing info container */
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.landingsubs {
  font-size: 2rem;
  margin-bottom: 10px;
}

/* Terms and Conditions Styles */
.tcs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--background-offwhite);
  width: 30vw;
}

.tcs label {
  width: 100vw;
}

.tcsinput  {
  width: 3vw;
  margin-right: 1rem;
  border-radius: 60px;
}
.tcsinput:checked {
accent-color: var(--background-offwhite);
color: #ffffff;
}

.tcslink a {
  text-decoration: underline;
  color: var(--background-offwhite);
  font-weight: 600;
}

/* Landing Section 4 Content Styles */
.landingSub4Title {
  font-size: 4rem;
  margin: 0;
  margin-top: 30vh;
  margin-bottom: 1rem;
  color: var(--background-offwhite);
}

.landingSub4Para {
  font-size: 1.5rem;
  font-weight: 300;
  width: 45vw;
  margin-bottom: 1rem;
  color: var(--background-offwhite);
  text-align: center;
}

/* Input Container Styles */
.input-container {
  display: flex;
  align-items: center;
  height: auto;
}

.input-container input[type="text"] {
  flex: 1;
  padding: 10px;
  width: 35vw;
  height: 7.5vh;
  border-radius: 17.4rem;
  font-size: 1.4rem;
  margin-top: 1rem;
  outline: none;
}

/* Landing Section 4 Image Styles */
.landingSub4Img {
  position: absolute;
  width: 20vw;
 top: 0vh;
 right: 0vw;
 
}

/* Input Button Styles */
.input-container button {
  background-color: var(--main-blue); /* Change this to your desired button style */
  color: #fff;
  padding: 10px;
  margin-left: -12.4vw;
  margin-top: 0.7vh;
  font-size: 1.1rem;
  font-weight: 600;
  width: 12vw;
  height: 8vh;
  border: none;
  cursor: pointer;
  border-radius: 17.4rem;
  border: 0;
}

.input-container button:hover {
  background-color: var(--background-offwhite);
  color: var(--main-blue);
  border: 4px solid var(--main-blue);
  cursor: pointer;
}

/* Landing Info Heading Styles */
.landingInfo h1, .landingInfo2 h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  color: var(--header-main);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-align: right;
  margin-bottom: 2vh;
}

.landingInfo h2, .landingInfo2 h2 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  margin-bottom: 2vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: right;
  color: var(--header-main);
}

.landingInfo2 h1{
font-size: 3rem;
}
.landingInfo2 h1, .landingInfo2 h2 {
  color: var(--main-blue);
  text-align: left;
  width: 25vw;
}

/* Landing Button Styles */
.landingButton, .landingSubButton {
  height: 8vh;
  width: 45%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--header-main);
  color: #ffffff;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 17.4rem;
  border: 0;
}
.landingSubButton {
  background-color: var(--main-blue);
}

.landingButton:hover, .landingSubButton:hover {
  background-color: var(--header-main-hover);
  color: var(--header-main);
  border: 4px solid var(--header-main);
  cursor: pointer;
}
.landingSubButton:hover {
  background-color: var(--main-blue-hover);
  color: var(--main-blue);
  border: 4px solid var(--main-blue);
  cursor: pointer;
}

/* Media Queries */
@media screen and (max-width: 1500px) {
  .landingInfo h1 {
    text-align: right;
    font-size: 2.6rem;
    font-weight: 600;
    width: 40vw;
  }
  .landingsection2container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 0;
    margin-top: 10vh;
    z-index: 0;
  }


  /* .landingInfo h2 {
    text-align: right;
    font-size: 1.1rem;
    width: 40vw;
  } */
  
  /* .landingInfo2 h2 {
    font-size: 1.1rem;
    width: 60vw;
    margin: 0;
  } 
   .landingInfo2 h1 {
    width: 30vw;
    font-size: 3.6rem;
    width: 20vw;
    margin: 0;
  } 
  .landingPara {
    width: 20vw;
  }
  .landingInfo2 {
    width: 50vw;
  } */

  
  .landingSubOuter4, .landingSubOuter, .landingSub4Content, .landingSection4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: -10vh;
    width:100vw;
  }
  .landingInfo2 h1 {
    width: 40vw;
    font-size: 2.5rem;
    font-weight: 500;
    margin-right: 1rem;
  }
  
  .landingSub4Title {
    text-align: center;
    font-size: 4rem;
    margin-top: 5vh;
  }
  .landingSub4Para {
    text-align: center;
    font-size: 1.4rem;
    width: 65vw;
    margin-bottom: 1rem;
    color: var(--background-offwhite);
    text-align: center;
  }
  
  .input-container input[type="text"] {
    width: 50vw;
    height: 8.5vh;
    border-radius: 35.4rem;
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  .input-container button {
    padding: 10px;
    margin-left: -18.6vw;
    margin-top: 0.6vh;
    margin-bottom: 0;
    font-size: 1.2rem;
    width: 18vw;
    height: 9.2vh;
    border-radius: 17.4rem;
  }
   .tcs {
    width: 80vw;
    margin-left: 15vw;
    font-size: 0.8rem;
   }
}

@media screen and (max-width:1000px) {
  .landingInfo2 {
    width: 70vw;
    margin-bottom: 5rem;
  }
  .landingInfo2 h1 {
    width: 70vw;
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  .landingInfo2 h2 {
    width: 70vw;
  
  }

  
  .landing {
    background-size: cover;
    background-image: url(https://live.staticflickr.com/65535/53097601747_ad931ab6ce_h.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: right middle;
    align-items: center;
    width: 100vw;
    height: 130vh;
  }
.landingsection2container{
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
}
  .landingInfo {
    position: absolute; /* Use absolute positioning to overlay the image */
    top: 40%;
    left: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 60vw;
    height: 70vh;
  }

  .landingInfo h1 {
    text-align: left;
    font-size: 2rem;
    font-weight: 400;
    width: 80vw;
  }

  .landingInfo h2 {
    text-align: left;
    font-size: 1rem;
    width: 80vw;
  }

  .landingSubOuter4 {
    height: 90vh;
  }

  .landingButton, .landingSubButton {
    height: 8vh;
    width: 60%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 17.4rem;
    border: 0;
  }

  .landingSubOuter2 {
    background-position: 45% center;

  }

  .landingSubOuter4, .landingSubOuter, .landingSub4Content, .landingSection4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width:100vw;
    height: 120vh;
    z-index: 0;
  }
  
  
  .landingSub4Title {
    text-align: center;
    font-size: 3rem;
    margin-top: 5vh;
  }
  .landingSub4Para {
    text-align: center;
    font-size: 1.2rem;
    width: 80vw;
    margin-bottom: 1rem;
    color: var(--background-offwhite);
    text-align: center;
  }
  
  .input-container input[type="text"] {
    width: 65vw;
    height: 5.5vh;
    border-radius: 35.4rem;
    font-size: 1rem;
    margin-top: 1rem;
  }
  .input-container button {
    padding: 10px;
    margin-left: -15.6vw;
    margin-top: 0.6vh;
    margin-bottom: 0;
    font-size: 0.8rem;
    width: 15vw;
    height: 6.7vh;
    border-radius: 17.4rem;
  }
   .tcs {
    width: 80vw;
    margin-left: 15vw;
    font-size: 0.8rem;
   }
   .containerImg {
    border-radius: 30px;
    margin: 0;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 4rem;
  }
  .landingSubOuter2 {
    background-size: cover;
    background-position: 50% 20% center;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 430px) {
  /* .landing {
    background-size: cover;
    background-image: url(https://live.staticflickr.com/65535/53097601747_ad931ab6ce_h.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: right middle;
    align-items: center;
    width: 100vw;
    height: 130vh;
  } */

  /* .landingInfo {
    position: absolute;
    top: 40%;
    left: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 70vh;
  } */

  .landingInfo h1 {
    text-align: left;
    font-size: 2.7rem;
    font-weight: 400;
    width: 80vw;
    margin-bottom: 2vh;
  }

  
  .landingInfo h2 {
    font-size: 1.2rem;
  }

  .landingButton, .landingSubButton {
    height: 8vh;
    width: 90%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 17.4rem;
    border: 0;
  }
.landingSubOuter4, .landingSub4Content, .landingSection4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width:100vw;
  min-height: 100vh;
}

.landingSub4Title {
  text-align: center;
  font-size: 3rem;
  margin-top: 5vh;
}
.landingSub4Para {
  text-align: center;
  font-size: 1.2rem;
  width: 90vw;
  margin-bottom: 1rem;
  color: var(--background-offwhite);
  text-align: center;
}


.input-container input[type="text"] {
  width: 70vw;
  height: 5.5vh;
  border-radius: 35.4rem;
  font-size: 1rem;
  margin-top: 1rem;
}
.input-container button {
  padding: 10px;
  margin-left: -19vw;
  margin-top: 0.6vh;
  margin-bottom: 0;
  font-size: 0.8rem;
  width: 18vw;
  height: 6.4vh;
  border-radius: 17.4rem;
}
 .tcs {
  width: 80vw;
  margin-left: 15vw;
  font-size: 0.8rem;
 }
}
