.doggyStuff-logo img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    width: 50%;
    height: auto;
    margin: 0;
}
.doggyStuff-logo a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 500px)
{
    .doggyStuff-logo img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 15px;;
        width: 85%;
        height: auto;
        margin: 0;
    }

    /* .doggyStuff-logo img {
        height: 7vh;
    } */
}