/* Base Styles */
.survey {
    background-color: var(--background-offwhite);
    width: 100vw;
    height: 110vh;
    margin: auto;
    margin-top: -10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
  }
  .formTitle {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom:  5vh;
    margin-top: 15vh;
    width: 100vw;
    text-align: center;
  }
  .formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 70vh;
    margin: auto;
    z-index: 1;
  }
.surveyFormNum {
    position: absolute;
    top: -10vh;
    right: 7.5vw;
    margin: 1rem;
    font-size: 1.5rem;
    color: var(--main-blue);
    
}
  .surveyForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .surveyButton  {
    background-color: var(--header-main); /* Change this to your desired button style */
    color: #fff;
    padding: 10px;
    margin-top: 5rem;
    font-size: 1.1rem;
    font-weight:600;
    width: 15vw;
    height: 8.5vh;
    border: none;
    cursor: pointer;
    border-radius: 17.4rem;
  }
  .surveyButton:hover {
    background-color: transparent; 
    color: var(--header-main);
    border: 4px solid var(--header-main);
  }
  #backSurveyButton {
    background-color: var(--main-blue); /* Change this to your desired button style */
    color: #fff;
    padding: 10px;
    margin: 10px 10px;
    font-size: 1.1rem;
    font-weight:600;
    width: 15vw;
    height: 8.5vh;
    border: none;
    cursor: pointer;
    border-radius: 17.4rem;
  }
    #backSurveyButton:hover {
      background-color: transparent; 
      color: var(--main-blue);
    border: 4px solid var(--main-blue);
    cursor: pointer;
    }

  .surveyContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 50vh;
    margin: auto;
  }
  
  /* Form Styles */
  form.surveyForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  form.surveyForm input,
  .dropdownOptions {
    width: 35vw;
    height: 4.5rem;
    border: none;
    border-radius: 5px;
    padding: 0 1rem;
    font-size: 1.2rem;
    border-radius: 17.4rem;
    margin: 0;
    margin-bottom: 1rem;

  }
  
  /* Buttons */
  .dogSex button,
  .dogSize button,
  .pureCross button,
  .dogHealth button,
  .dogFood button,
  .flavoursNot button,
  .backSurveyButton button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 11rem;
    width: 11rem;
    background-color: var(--main-blue);
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 0.9rem;
    margin: 0.5rem;
    border: 0;
  }
  
  /* Button Hover Styles */
  .dogSex button:hover,
  .dogSize button:hover,
  .pureCross button:hover,
  .dogHealth button:hover,
  .dogFood button:hover,
  .flavoursNot button:hover,
  .backSurveyButton:hover {
    background-color: var(--accent-pink); 
    color: var(--main-blue);
    /* border: 4px solid var(--header-main); */
    cursor: pointer;
  }
  
  /* Selected and Active Options */
  .dogSizeOption.selected,
  .dogSexOption.selected,
  .dogSizeOption:active,
  .dogSexOption:active,
  .pureCrossOption.selected,
  .pureCrossOption:active,
  .dogHealthOption.selected,
  .dogHealthOption:active,
  .dogFoodOption.selected,
  .dogFoodOption:active,
  .flavoursNot.selected,
  .flavoursNot:active {
    background-color: var(--accent-pink); 
    color: var(--main-blue);
    cursor: pointer;
  }
  
  /* Other Styles */
  label, legend {
    margin-bottom: 1vh;
    
  }
  
  .formContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    margin-bottom: 3rem;
  }
  
  #dog_size, #dog_sex p {
    width: 5vw;
    padding: 1rem;
  }
  
  .dogSex,
  .dogSize {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40vw;
  }
  
  .dogSexOption,
  .dogSizeOption,
  .dogHealthOption,
  .dogFoodOption
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .pureCross,
  .dogHealth,
  .foodVeg
  
   {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .flavoursNotContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:60vw;
  }

  
  /* Responsive Styles */
  @media screen and (max-width: 1300px) {
    .dogSex button,
    .dogSize button,
    .pureCross button,
    .dogHealth button {
      height: 10rem;
      width: 13rem;
    }
    .dogSize, .dogSex {
      width: 50vw;
    }
    form.surveyForm input {
      width: 50vw;
    }
    .dropdownOptions {
      width: 50vw;
    }
 
  }
  
  @media screen and (max-width: 1000px) {
    /* .dogSex button,
    .dogSize button,
    .pureCross button,
    .dogHealth button {
      height: 10rem;
      width: 10rem;
    }
    .dogSize, .dogSex {
      width: 60vw;
    }
    .surveyForm input {
      width: 60vw;
    }
    .dropdownOptions {
      width: 60vw;
    } */
    .surveyButton, #backSurveyButton {
      width: 25vw;
      height: 8.5vh;
      margin-top: 5rem;
    }
    .surveyButtons {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
    }

  }
  
  /* You can uncomment and customize additional responsive styles as needed */
  /* @media screen and (max-width: 500px) {
    .dogSex button,
    .dogSize button,
    .pureCross button,
    .dogHealth button {
      height: 7rem;
      width: 14rem;
    }
    .dogSize, .dogSex {
      width: 70vw;
    }
  } */
  
  @media screen and (max-width: 750px) {
    form.surveyForm {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
    .formContent {
        width: 80vw;
    }
    form.surveyForm input {
      width: 83vw;
      height: 3.5rem;
      margin-bottom: 0rem;
      border: none;
      border-radius: 5px;
      padding: 0 1rem;
      font-size: 1.2rem;
      border-radius: 17.4rem;
      margin: 0;
    }
    .dropdownOptions {
      width: 90vw;
      height: 3.5rem;
      margin-bottom: 1rem;
      border: none;
      border-radius: 5px;
      padding: 1rem;
      font-size: 1.2rem;
      border-radius: 17.4rem;
    }
    .dogSize, .dogSex, .dogHealth {
      width: 90vw;
    }
    .surveyButton, #backSurveyButton {
        width: 40vw;
        height: 8.5vh;
      }
      .pureCross, .dogHealth {
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .dogSex button,
    .dogSize button,
    .pureCross button,
    .dogHealth button
     {
      height: 10rem;
      width: 12rem;
    }

    .formTitle {
        margin-bottom:  3vh;
        margin-top: 10vh;
        font-size: 1.6rem;
      
    }
}
  /* Add any other media queries as needed */
  