.sign-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 70px;
  /* border: 1px solid #f3eddb; */
  /* border-radius: 8px; */
  border-bottom-left-radius: 10vh;
  border-bottom-right-radius: 10vh;
  margin-top: -10vh;
  background-color: #b8a2a2;

  background-image: url(https://live.staticflickr.com/65535/53127036589_369cd7bedd_h.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100vw;
}
.signformclose {
  width: 5vh;
  height: 10vh;
  filter: brightness(0) saturate(100%) invert(51%) sepia(97%) saturate(392%) hue-rotate(160deg) brightness(96%) contrast(92%);
  opacity: 1;
}

.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
 }


  
  .mobile {
    display: none;
  }
  .sign-form form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-bottom: 2vh;
      border-radius:17.4rem;
  }
  
  a {
      color: var( --black-text);
      text-decoration: none;
      margin-bottom: 2vh;
  }


  .signInImg {
      width: 100%;
      height: 100vh;
      display: flex;
      
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  input {
    width: 30%;

    padding: 10px;
    margin-bottom: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 30px;
    font-size: 16px;
  }

  
  .submit-button button {
    height: 7vh;
    width: 15vw;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--main-blue);
    color: #ffffff;
    font-weight: 700;
    border-radius: 17.4rem;
    border: 0;
  }
  .submit-button button:hover {
    background-color: transparent;
    color: var( --main-blue);
    border: 4px solid var( --main-blue);
    cursor: pointer;
}



  #closeForm {
    position: absolute;
    top: 15%;
    
    right: 10%;
    margin: 1rem;
    font-size: 1.5rem;
    color: #ffffff;
    cursor: pointer;
    
  }
  #closeForm:hover {
    color: #ff6565;
    cursor: pointer;
  }

.signInLink{
  color: var( --black-text);
}
 
    
  
    @media screen and (max-width: 750px){
    input {
      width: 70%;
  
      padding: 10px;
      margin-bottom: 10px;
      /* border: 1px solid #ccc; */
      border-radius: 30px;
      font-size: 16px;
    }
  
    
      button#SignIn{
      display: none;
    }
    button#SignUp{
      display: none;
    }
    /* .mobile {
      display: flex;
    }
    #mobileSignUp img {
      width: 8vw;
      height: 5vw;
  
    } */
    .sign-form {
      background-image: url(https://live.staticflickr.com/65535/53140367284_bc0fd26b69_k.jpg);
      width: 100vw;
      height: 100vh;
      justify-content: flex-start;
     
    }
    .submit-button button{
      width:30vw;
    }
    .signformclose{
      width:5vw;
      height: 5vw;

      top: auto;
    }
    form {
      width: 80vw;
      max-width: 300px; /* Adjust as needed */
      padding: 10px;
      margin-bottom: 10px;
      /* border: 1px solid #ccc; */
      border-radius: 30px;
      font-size: 16px;
      
    }
    .sign-in {
      margin-top: 10vh;
    }

  }