.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20px;
    cursor: pointer;
    z-index: 100;
    margin-left: 2vw;
  }
  .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  }
  .menu img {
    width: 3rem;
    height: 5vh;
    
  }

  
  @media screen and (max-width: 500px)
  {
    .hamburger-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 20px;
      cursor: pointer;
      z-index: 100;
      margin-left: 5vw;
    }
    .menu img {
      height: 3.5vh;
      
    }
  

  }