#surveyContainer {
    height: 130vh;
    width: 100vw;
    margin-top: -30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fdf8de;
}

#sq_111 {
    margin-top: 20vh;
    margin-bottom: 5vh;
    width: auto;
    height: auto;

}