  .App{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      max-width: 100vw;
      background-color: #e7e0bd;
      color: white;
    overflow-x: hidden;
    background-color: black;
    z-index: 101;
  }
