  html, body{

      justify-content: center;
      background-color: #e7e0bd;
      color: white;
      margin: 0;
      padding: 0;
      width: 100vw;
      max-width: 100%;
      background-color: black;
      z-index: 101;
 
  }
