  .navbar{
      background-color: transparent;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0;
      height: 10vh;
      width: 100vw;
      top: 0;
      z-index: 100;
    }
    .menu {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end;
      height: 100%;
      padding: 0;
      margin: 0;
      width:5vw;
      z-index: 100;
      position: relative;
    }

    .menu img:hover {
      cursor: pointer;
      opacity: 0.7;
    }

    #navbar-title {
    position: absolute;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 2.2rem;
      font-weight: 300;
      color: var(--header-main);
      z-index: 100;
      left:45%;
    }

   .signup {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      height: auto;
      padding: 0;
      margin: 0;
      margin-right: 10px;
      width: 20vw;
      z-index: 100;
      color: var(--header-main);
      font-size: 1rem;
    }
    
    #navbar-container {
      position: sticky;
      top: -10vh; /* Start by hiding the navbar above the viewport */
      background-color: transparent;
      z-index: 100;
      transition: top 0.3s ease-in-out;
    }
    
    #navbar-container:hover {
      top: 0; /* Show the navbar when hovered over */
    }
    .signin {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      padding: 0;
      margin: 0;
      margin-right: 10px;
      width: 20vw;
      z-index: 100;
      color: var(--header-main);
      font-size: 1rem;
    }

    /* #navbar-container {
      position: sticky;
      top: 0;
      background-color:transparent;
      z-index: 100;
      transition: transform 0.3s ease-in-out;
    } */
    
    /* Optional class for hiding the navbar on scroll down */
    .navbar-hidden {
      transform: translateY(-100%);
    }
    .authButtons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 0;
      margin: 0;
      width: 10vw;
      z-index: 100;
      
    }

    
    .navbarcenter {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: var(--header-main);
      z-index: 100;
    }

    .additionalMenu {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom-left-radius: 5vh;
      border-bottom-right-radius: 5vh;
      background-color:var(--main-blue);
      top: 100%;
      left: 0;
      width: 100vw;
      height: 105vh;
      color: azure;
      margin-top: -15vh;
      z-index: 10;
    }
    
    .additionalMenu ul {
      list-style: none;
      display: block;
      font-size: 4rem;
      text-align: center;
      margin: 0;
      padding: 0;
      
      
    }
    
    .additionalMenu li {
      margin-bottom: 2rem;
      
    }
    
    .additionalMenu a {
      font-weight: 500;

      text-decoration: none;
      color: var(--header-main);
    }
    
    .additionalMenu a:hover {
      color: var(--backgroud-offwhite);
    }

    .sign-in-container {
      display: flex;
      flex-direction: flex-end;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 0;
      margin: 0;
      margin-left: 5px;
      margin-right: 0px;
      width: auto;
      z-index: 100;
      font-size: 1rem;
    }

    .additionalSignInMenu {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom-left-radius: 5vh;
      border-bottom-right-radius: 5vh;
      background-color: #cf537c;
      top: 100%;
      left: 0;
      width: 100vw;
      height: 105vh;
      color: azure;
      margin-top: -20vh;
      z-index: 10; 
    }
    
    .additionalSignInMenu ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      font-size: 5.6rem;
      font-weight: 500;
      text-align: center;
      margin: 0;
      padding: 0;
      
    }
    
    .additionalSignInMenu li {
      margin-bottom: 10px;
      margin: 0;
      
    }
    
    .additionalSignInMenu a {
      text-decoration: none;
      color: var(--header-main);
    }
    
    .additionalSignInMenu a:hover {
      color: var(--backgroud-offwhite);
    }

    #SignIn, #dropdown-menu-signout-button {
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      padding: 0vh;
      margin: 0;
      width:5rem;
      height:5vh;
      font-size: 0.8rem;
      font-weight: 700;
      background: transparent;
      opacity: 1;
    }
    #dropdown-menu-signout-button:hover {
      cursor: pointer;
      color: white;
    }
    #navbar-container {
      position: sticky;
      top: -10vh; /* Start by hiding the navbar above the viewport */
      background-color: transparent;
      z-index: 100;
      transition: top 0.3s ease-in-out;
    }
    
    #navbar-container:hover {
      top: 0; /* Show the navbar when hovered over */
    }
    .button-normal {
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      padding: 1vh;
      width:5rem;
      height:5vh;
      color: var(--header-main);
      font-size: 0.8rem;
      font-weight: 700;
      background: transparent;
      opacity: 1;
    }
#profileicon{
  width: 3rem;
  height: 5vh;
  justify-content: center;
  margin-top: 0.5vh;
}
    .button-hoverable:hover {
      cursor: pointer;
      color: white;
    }

    .button-hovered {
      /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
      color: white;
    }
    .logo1 {
      filter: invert(83%) sepia(21%) saturate(347%) hue-rotate(270deg) brightness(100%) contrast(96%);
  
    }
    .logo1 img {
      height: 3.5vh;
    }

  
      .logo2 {
      filter: invert(72%) sepia(83%) saturate(3811%) hue-rotate(174deg) brightness(97%) contrast(90%);
      color: var(--header-main);
      height: 3.5vh;

    }

    .logo3 {
      filter: invert(100%) sepia(21%) saturate(347%) hue-rotate(270deg) brightness(100%) contrast(96%);
      height: 3.5vh;

    }
    .logo4 {
      filter: invert(84%) sepia(36%) saturate(7028%) hue-rotate(178deg) brightness(107%) contrast(89%);
      height: 3.5vh;

    }  
    .signedinicon1 {
      color: var(--header-main);
  
    }
    .signedinicon2 {
      color: var(--main-blue);
  
    }

    .profileicon {
      width: 5rem;
      height: 5vh;
      padding: 0;
      margin: 0;
      z-index: 100;
      font-size: 1rem;
      margin-top: 2vh;
    }

    .signedinnav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 0;
      margin-right: 10vw;
      width: 20vw;
      z-index: 100;
    }
    

    @media screen and (max-width: 750px)
    {
  
    button#SignUp{
      display: none;
    }
    .mobile {
      display: flex;
    }
    #mobileSignUp img {
      width: 8vw;
      height: 8vw;
  
    }
   
    #navbar-title {
      font-size: 1.5rem;
        left:30%;
      }
#profileicon{
  margin-right: 4vh;
}

    }
    @media screen and (max-width: 500px)
    {
  
      .additionalMenu a {
        font-weight: 500;
  font-size: 3.5rem;
        text-decoration: none;
        color: var(--header-main);
      }
      #profileicon  {
        height: 5vh;
      }
     #dropdown-menu-signout-button{
      display: none;
     }
   
    }