#navbar-outer-container {
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 7vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}
#navbar-header-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
}
.authButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
}