body {
  margin: 0;
  font-family: 'Cabin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {

 --header-main: #facdf0;
 --black-text: #242424;
 --main-blue: #33a7eb;
 --light-blue: #5fbcf1;
 
}
input {
  width: 30vw;
  height: 3rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  padding: 0 1rem;
  font-size: 1.2rem;
  border-radius:17.4rem;
}
a {
  color: #fff;
  text-decoration: none;
}